#Don't push .env (passwords, server info, etc.) through Git
.env

#Don't push the output.geosjon file (contains the data we are using until we can put it on the server successfully)
output.geojson

#Don't push node_modules directory
node_modules/
