@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

/* About Section Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

.about-header {
    display: flex;
    justify-content: center;
}

#logoHeader {
    text-align: center;
    margin-bottom: 30px;
    display: inline-flex;
    align-self: center;
}

.about-header h1 {
    font-size: 2.5em;
    color: #444; /* Soft black color */
    margin: auto;
}

.about-header img {
    width: 120px;
    height: auto;
    margin: auto;
}

.about-header h1, .card .container h2, .card .container p {
    color: #444;
}

.card {
    width: 250px; 
    height: 350px; 
    margin: 20px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(145deg, white, #dcdcdc);
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2); 
}

/* Ensure images fit perfectly */
.card img {
    width: 100%; 
    height: 60%;
    object-fit: cover; 
    border-bottom: 2px solid rgba(255, 255, 255, 0.3); 
    filter: brightness(90%); 
    transition: filter 0.3s; 
    border-radius: 50%;
    margin-top: 15px;
}

.container {
    padding: 15px;
}

/* Image hover effect */
.card img:hover {
    filter: brightness(100%);
}

/* Styling for card content */
.card .container {
    text-align: center;
    padding: 15px;
    color: #eee;
    font-size: 1rem;
}

/* Card title styling */
.card .container h2 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* Card description styling */
.card .container p {
    font-size: 0.9rem;
    color: #777;
    margin: 0;
}

/* Row container for the cards */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    width: 100%; 
}

/* Individual columns (card containers) */
.column {
    display: flex;
    justify-content: center;
    flex: 1 1 calc(25% - 20px); 
    max-width: calc(25% - 20px); 
    box-sizing: border-box;
}

/* Adjust the 4th card to make sure it only shows 4 cards in the first row */
.row .column:nth-child(4) {
    flex: 1 1 calc(25% - 20px);
}

/* Row for the second set of cards */
.row-bottom {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    width: 100%;
}

.column-bottom {
    display: flex;
    justify-content: center;
    flex: 1 1 calc(33.33% - 20px); 
    max-width: calc(33.33% - 20px); 
    box-sizing: border-box;
}

